<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Lurch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="p-4">
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <div class="row">
      <div class="col-3">
        <div class="d-grid">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-primary mb-4" data-bs-toggle="modal" data-bs-target="#newConversationModal">
            New conversation
          </button>

          <!-- Modal -->
          <div class="modal fade" id="newConversationModal" tabindex="-1" aria-labelledby="newConversationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <%= render "form", conversation: @new_conversation %>
              </div>
            </div>
          </div>
        </div>

        <div class="list-group">
          <%= render partial: "index", collection: @conversations, as: :conversation %>
        </div>
      </div>
      <div class="col-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
